body {

    background: linear-gradient(to right, #191654, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#container {
    color: #d7dfe4;
}

.digit {
    font-size: 150px;
    font-weight: bold;
}

.txt {
    font-size: 40px;
    font-weight: bold;
}

#btn-container {
    text-align: center;
    margin-top: 40px;
}

.btn {
    padding: 7px 25px;
    font-size: 15px;
    margin: 0px 10px;

    border: 0px;
    cursor: pointer;
    border-radius: 10px;
}

#start {
    background-color: #1abc9c;
}

#start :hover {
    background-color: yellow;
}

#stop {
    background-color: #ff0000;
}

#reset {
    background-color: #0400fc;
}

@media screen and (max-width:800px){
    .time .digit{
        font-size: 5rem;
    }
    .time .txt{
        font-size: 2.5rem;
    }
    .time{
        display: flex;
        flex-direction: column;
    }
    #container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
/*Lap*/

#lap {
    background-color: #ffffff;
    color: #000000;
}

#record-container {
    margin-top: 20px;
    margin-left: 360px;
    font-family: Arial, Helvetica, sans-serif;
}

#record-table{
    text-align: center;
    overflow-x: auto;
    overflow-y: auto;
    padding: 10px;
    border-collapse: collapse;
    display: inline-block;
    max-height: 110px;
}

#record-table th {
    text-align: center;
    padding-right: 10px;
}

#record-table-body:nth-child(n + 7) {
    visibility: hidden;
}

/* Darkmode */
.darkmode{
    background: #d7dfe4;}

.darkmode_container{
    background-image:linear-gradient(to right, #191654, #43C6AC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.darkmode_mode{
    background: linear-gradient(to right, #191654, #43C6AC);
}

.dark {
    position: absolute;
    top: 10px;
    right: 10px;
}