body {
    background: #43C6AC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #191654, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #191654, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: block;
    
    height: 100vh;
   
}

hr {
    background-color: #fff;
}

.container-fluid{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#container {
    
    color: #d7dfe4;
    margin-top: 8rem;
}

.digit {
    font-size: 150px;
    font-weight: bold;
}

.txt {
    font-size: 40px;
    font-weight: bold;
}

#btn-container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 40px;
    flex-wrap: wrap;
}

.btn {
    padding: 7px 25px;
    font-size: 15px;
    margin: 4px 10px;
    color: white;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
    
}
#start {
    background-color: #1abc9c;
}

#start :hover {
    background-color: yellow;
}

#stop {
    background-color: #ff0000;
}

#reset {
    background-color: #0400fc;
}
#time{
    width: 100%;
}
@media screen and (max-width:990px){
    #time .digit{
        font-size: 4.3rem;
    }
    #time .txt{
        font-size: 2.1rem;
    }
}

@media screen and (max-width:890px){
    #time .digit{
        font-size: 4rem;
    }
    #time .txt{
        font-size: 1.9rem;
    }
    #time{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width:590px){
    #time .digit{
        font-size: 3rem;
    }
    #time .txt{
        font-size: 1.5rem;
    }
    #btn-container{
        width: 100%;
        justify-content: space-around;
    }
}
@media screen and (max-width:490px){
    #time .digit{
        font-size: 2.6rem;
    }
    #time .txt{
        font-size: 1.2rem;
    }
}

#lap {
    background-color: rgb(166, 17, 211);
}

#clearLap {
    background-color: #ee42a6;
}

#laps {
    margin-top: 100px;
    text-align: center;
    font-size: 25px;
}

#record-container {
    margin-top: 20px;
    margin-left: 360px;
    font-family: Arial, Helvetica, sans-serif;
}

#record-table{
    text-align: center;
    overflow-x: auto;
    overflow-y: auto;
    padding: 10px;
    border-collapse: collapse;
    display: inline-block;
    max-height: 110px;
}

#record-table th, td, tr {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #ccc;
}

#record-table-body:nth-child(n + 7) {
    visibility: hidden;
}

#record-table::-webkit-scrollbar {
    width: 6px;
}

#record-table::-webkit-scrollbar-track{
    border-radius: 20px;
    box-shadow: none;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

#record-table::-webkit-scrollbar-thumb {
    border-radius: 20px;
    box-shadow: 0in;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}