body {
  background: linear-gradient(
    to right,
    #191654,
    #43c6ac
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

#container {
  color: #d7dfe4;
}

.digit {
  font-size: 150px;
  font-weight: bold;
}

.txt {
  font-size: 40px;
  font-weight: bold;
}

#btn-container {
  text-align: center;
  margin-top: 40px;
}

.btn {
  /* padding: 7px 25px; */
  padding: 0.5rem;
  font-size: 20px;
  margin: 0px 10px;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.637);
  border-radius: 7px;
  cursor: pointer;
}

#start {
  background: #1abc9c;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

#stop {
  background: #ff0000;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

#reset {
  background: #0400fc;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}
#lap {
  background: rgb(166, 17, 211);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

#clearLap {
  background: #ee42a6;
}

.btn:hover {
  background: rgba(255, 255, 255, 0.726);
}

.btn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px rgba(102, 102, 102, 0.795);
  transform: translateY(4px);
}

@media screen and (max-width: 800px) {
  #time span {
    font-size: 4rem;
  }
  #time {
    display: flex;
    flex-direction: column;
  }
  #container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
/*Lap*/


#record-container {
  margin-top: 20px;
  margin-left: 360px;
  font-family: Arial, Helvetica, sans-serif;
}

#record-table {
  text-align: center;
  overflow-x: auto;
  overflow-y: auto;
  padding: 10px;
  border-collapse: collapse;
  display: inline-block;
  max-height: 110px;
}

#record-table th {
    text-align: center;
    padding-right: 10px;
    border: 1px solid #fff;
}

#record-table tr {
    border: 1px solid #fff;
}

#record-table::-webkit-scrollbar {
    width: 6px;
}

#record-table::-webkit-scrollbar-track{
    border-radius: 20px;
    box-shadow: none;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

#record-table::-webkit-scrollbar-thumb {
    border-radius: 20px;
    box-shadow: 0in;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

#record-table-body:nth-child(n + 7) {
  visibility: hidden;
}

/* Darkmode */
.darkmode {
  background: #d7dfe4;
}

.darkmode_container {
  background-image: linear-gradient(to right, #191654, #43c6ac);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.darkmode_mode {
  background: linear-gradient(to right, #191654, #43c6ac);
}

.dark {
  position: absolute;
  top: 10px;
  right: 10px;
  color: rgba(0, 0, 0, 0.479);
}
